*.uvoptx
*.scvd
*.uvguix.*
*.map
*.bin
*.hex
*.axf
*.lst
*.crf
*.d
*.o
*.htm
*.lnp
*.dep



#MDK工程产物
sscom/
MDK-ARM/RTE/
MDK-ARM/DebugConfig/
MDK-ARM/MBDPWR-01
MDK-ARM/*.Administrator
MDK-ARM/*.uvoptx
MDK-ARM/*.lst
